---
layout: default
---
        <div class="posts-grid">
          {% for post in site.posts %}
            <a class="post-card" href="{{ post.url | relative_url }}" data-post-date="{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}">
              <div class="post-title">{{ post.title }}</div>
              <div class="post-date"></div>
            </a>
          {% endfor %}
        </div>

        <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
        <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
  </body>
