---
layout: default
---
<div class="page-content fade-in-on-load">
  <h1>{{ page.title }}</h1>
  <div class="page-body">
    {{ content }}
  </div>
</div>

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

<!-- <article class="post">

  <header class="post-header">
    {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
    {%- else -%}
      {%- assign defaultImage = "/assets/images/img-default.jpg" -%}
      <img src="{{- defaultImage | relative_url -}}" alt="" class="featured-image-post">
    {%- endif -%}
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article> -->
